@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

.App {
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
}

.App a {
  text-decoration: none;
  font-weight: 900;
  color: #F346A4;
}

.App h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  line-height: 1;
  margin-top: 0;
}

.logo {
  max-width: 100%;
  display: block;
  margin: 30px auto 40px;
}

.sailor-sprites {
  list-style-type: none;
  padding-left: 0;
  max-width: 600px;
  margin: 0 auto 10px;
  text-align: center;
}

.sailor-sprites .sailor-sprite {
  display: inline-block;
}

.byline {
  text-align: center;
  font-size: 12px;
}